@model IEnumerable<CmsMvc.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Population)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cities)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @string.Format("{0}", item.Population.ToString("N0"))
            </td>
            <td>
                @foreach (var item2 in item.Cities)
                {
                    <div>@item2.CityName @Html.ActionLink("Edit", "EditCity", new { id = item2.CityId })</div>
                    <div>@string.Format("{0}", item2.Population.ToString("N0"))</div>
                    <br />
                }
                <div>@Html.ActionLink("New City", "AddCity", new { CountryId = item.CountryId })</div>
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                <div>@Html.ActionLink("Edit", "Edit", new { id = item.CountryId }) @Html.ActionLink("Delete", "Delete", new { id = item.CountryId })</div>
                } 
                

                </td>
        </tr>
    }

</table>